<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="cmckee@developer.com" />
    <add key="password" value="password" />
    <add key="token" value="usertoken" />
    <add key="clientId" value="clientId" />
    <add key="clientSecret" value="secert" />
  </appSettings>
</configuration>